@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 233 40% 99%;
    --foreground: 233 57% 2%;
    --muted: 203 8% 85%;
    --muted-foreground: 203 12% 36%;
    --popover: 233 40% 98%;
    --popover-foreground: 233 57% 1%;
    --card: 233 40% 98%;
    --card-foreground: 233 57% 1%;
    --border: 233 15% 92%;
    --input: 233 15% 92%;
    --primary: 233 65% 89%;
    --primary-foreground: 233 65% 29%;
    --secondary: 203 65% 89%;
    --secondary-foreground: 203 65% 29%;
    --accent: 263 65% 89%;
    --accent-foreground: 263 65% 29%;
    --destructive: 3 81% 28%;
    --destructive-foreground: 3 81% 88%;
    --ring: 233 65% 89%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 233 43% 4%;
    --foreground: 233 23% 99%;
    --muted: 203 8% 15%;
    --muted-foreground: 203 12% 64%;
    --popover: 233 43% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 233 43% 5%;
    --card-foreground: 0 0% 100%;
    --border: 233 15% 15%;
    --input: 233 15% 15%;
    --primary: 233 65% 89%;
    --primary-foreground: 233 65% 29%;
    --secondary: 203 65% 89%;
    --secondary-foreground: 203 65% 29%;
    --accent: 263 65% 89%;
    --accent-foreground: 263 65% 29%;
    --destructive: 3 81% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 233 65% 89%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}